*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 18px;
    color: white;
}

body{
    overflow: hidden;
}

#container{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(to right,#2EC6DA,#3A5390)
}

#block{
    width: 500px;
    height: 400px;
    padding: 40px;
    border: 1px solid white;
    background: rgb(165, 165, 165);
    box-shadow: 5px 5px 5px black;
    overflow-y: scroll;
    background: #2374aa;
}

#block::-webkit-scrollbar{
    width: 5px;
}

#block::-webkit-scrollbar-thumb{
    background: rgb(0, 0, 0);
}


button{
    padding: 10px 15px ;
    margin: 10px;
    border: 1px solid white;
    background: transparent;
    transition: background .3s ease-in-out;
}

button:hover{
    cursor: pointer;
  
    background:rgba(0, 0, 0, 0.171);
  
}

select{
    padding: 5px 10px ;
    border: 1px solid white;
    background: transparent;
 
}
option{
    border: 1px solid white;
    background: #2374aa;
 
}

.slide{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.slide3{
  flex-direction: column;
}

.slide2_input{
    padding: 10px;
    border: 1px solid white;
    background: transparent;
    min-height: 120px;
}

.roles_title{
    font-size: 20px;
}

.slide3_output{
    font-size: 20px;
    margin-top:20px ;
}

p{
    margin: 0;
    padding: 0;
}

.lineRoles{
    display: flex;
    align-items: center;
    padding: 3px 10px;
    border-top: 1px solid white;
}

.lineRoles:first-child{
    padding-bottom: 10px;
}

.lineRoles span{
    display: block;
    height: 100%;
    width: 100%;
}


.lineRoles:first-child{
    border-top: 0px solid white;
}

.lineRoles:first-child span{
   padding: 5px 10px;
}

.lineRoles:not(:first-child) span{
    margin: 3px 10px;
}

.checkVote{
    background: rgb(0, 0, 0);
    border-radius: 3px;
transition: background .3s ease-in-out;
}

.checkVote:hover{
    cursor:pointer;
    background: rgba(0, 0, 0, 0.432);
}


input[type='checkbox']{
    width: 20px;
    height: 20px;
    user-select: none;
    position: relative;
    z-index: 100;
}

.vote::before{
    content: '';
    position: absolute; top: 0;left: 0;
    z-index: 150;
    width: 20px;
    height: 20px;
    background: black;
}

.vote::after{
    content: '';
    position: absolute; top: 6px;left: 6px;
    z-index: 150;
    width: 8px;
    height: 8px;
    background: transparent;
    transition: background .3s ease-in-out;
}

.vote:checked::after{
    background: rgb(255, 255, 255);
}


.live::before{
    content: '';
    position: absolute; top: 0;left: 0;
    z-index: 150;
    width: 20px;
    height: 20px;
    background: rgb(212, 0, 0);
}

.live::after{
    content: '';
    position: absolute; top: 0px;left: 0px;
    z-index: 150;
    width: 20px;
    height: 20px;
    background: transparent;
    transition: background .3s ease-in-out;
}

.live:checked::after{
    background: rgb(0, 214, 0);
}